.div {
    background-color: dimgrey;
    border: 3px solid #c0c0c067;
    border-radius: 10px;
    color: #fff;
    margin: 15px auto;
    padding: 15px;
    width: 50%;
}
h2 {
    text-align: center;
}
.password {    
    color: rgb(0, 247, 255);
    margin: 20px 0;
    padding: 10px;
    font-size: 2.5em;
}
button {
    border-radius: 10px;
    width: 15%;
    height: 50px;
    font-weight: bold;
}
.options, .qnt {
    font-size: 2em;
}
input[type='checkbox'] {
    width: 20px;
    height: 20px;
}
.qnt input {
    width: 60px;
    height: 20px;
}
